@media(max-width:1030px) {
    .banner {
        margin-left: 20px;
    }

}

@media(max-width:1010px) {
    .banner {
        padding-top: 70px;
        height: 700px;
    }

    input {
        width: 408px;
    }
}

@media(max-width:995px) {
    #title {
        font-size: 45px;
    }

    #text {
        font-size: 20px;
    }

    .right-img img {
        width: 374px;
        height: 384px;
    }

}


@media(max-width:900px) {

    .right-img img {
        width: 274px;
        height: 284px;
    }
}

@media(max-width:793px) {

    #text-slide {
        color: #FFF;
        width: 400px;
    }

    .banner {
        text-align: center;
    }

    #title {
        text-align: center;
        font-size: 45px;
    }

    #text {
        text-align: center;
        font-size: 20px;
    }

    .button-shop-banner {
        text-align: center;
    }

    .right-img img {
        width: 374px;
        height: 384px;
    }

}

@media(max-width:660px) {

    .slide-section {
        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/samurai\ banner\ 1.jpg);
        height: 500px;
        width: 1300px;
        background-position: right;
        display: flex;
        align-items: center;
        background-size: cover;
        border-radius: 18px;
        flex-wrap: wrap;
    }

    input {
        display: none;
    }

    .button-shop {
        margin: 0px;
    }

    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #ffffff00;
    }

    #Account {
        display: none;
    }

    .icons p {
        display: none;
    }

    .menu {
        display: flex;
    }

}

@media(max-width:524px) {

    #text-slide {
        width: 340px;
        color: #FFF;
    }

    #title {
        text-align: start;
        font-size: 38px;
    }

    #text {
        text-align: start;
        font-size: 16px;
    }

    .button-shop-banner {
        text-align: start;
    }

    .right-img img {
        width: 330px;
        height: 340px;
    }
}

@media(max-width:454px) {

    #text-slide {
        width: 300px;
        color: #FFF;
    }
}

@media(max-width:370px) {

    .title h1 {
        margin: 0px 20px 10px 10px;
        font-size: 44px;
        color: #FFF;
    }

    #text-slide {
        margin: 0px 0px 0px 20px;
        width: 300px;
        color: #FFF;
    }
}