
/*section2*/
.section2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 600px;
    flex-wrap: wrap;
}

.slide-section {
    height: 500px;
    width: 1300px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(images/samurai\ banner\ 1.jpg);
    background-position: right;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    background-size: cover;
    border-radius: 18px;
    flex-wrap: wrap;
}


.title {
    display: flex;
    align-items: center;
    color: #FFF;
}

#text-slide {
    color: #FFF;
    width: 600px;
    margin: 0px 0px 0px 60px;
}

.title h1 {
    margin: 0px 20px 0px 60px;
    font-size: 44px;
    color: #FFF;
}


/* Section About-Us */
.About-us {
    padding: 20px;
}

.About-us #title {
    text-align: end;
    margin-right: 20px;
}

.all-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    padding: 50px;
    gap: 20px;
}


/*cards UP*/
.cards-up {
    display: flex;
    gap: 20px;
    flex-wrap: wrap; 
    justify-content: center; 
}

/* Estilos para as imagens dentro dos cards superiores e inferiores */
.card1Up img,
.card2Up img,
.card3Up img,
.card2down img { 
    position: absolute;
    right: 0px;
    bottom: -15px;
    height: 100%;
    width: auto;
    object-fit: cover; 
    z-index: 0;
}

/* Estilos gerais para todos os cards */
.card1Up,
.card2Up,
.card3Up,
.card2down { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    background-color: rgb(255, 255, 255); 
    box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.1);
    width: 320px; 
    height: 180px; 
    padding: 15px;
    position: relative;
    overflow: hidden;
}

.texts-cards {
    display: flex;
    flex-direction: column;
    width: 51%; 
    z-index: 1;
}

.texts-cards h1 {
    margin: 0 0 10px 0;
    font-size: 1.2em;
    color: #333;
}

ul {
    margin: 0px;
    padding: 0;
}

ul li {
    list-style: none;
    padding-right: 0px; 
    margin-bottom: 5px;
    font-size: 0.9em;
    color: #555;
}

/*cards down*/
.cards-down {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.card2down{
    width: 400px;
}