/*Font-text*/
@import url('https://fonts.googleapis.com/css2?family=Inria+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Oswald:wght@200..700&display=swap');

@font-face {
    font-family:'deathblood';
    src: url(font/deahtblood/Deathblood-z8JM4.ttf);
}

html {
    overflow-x: hidden;
    height: 100%; 
}

* {
    overflow-x: hidden;
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    min-height: 100vh; 
    position: relative; 
}

.background {
    background-image: url(images/sakura-background2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%; 
    width: 100vw;
    overflow: hidden;
}


.background::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 0;
}